################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/root/.vs
/root/graphics/.vs
/root/graphics/models/.vs
